html{
    background-color: black;
}
body{
    background-color: black;
}

#reference{
    margin-top: 23%;
}

.button {
     margin-left: 41%;
  }

#front-box{
    height: 617px;
}  
#trivia{
    margin-top: 0%;
}
#referenceb{
    margin-top: 10%;
}